nav.Menu
	ul.Menu-list
		li.Menu-element 
			a(href="#") Games
		li.Menu-element 
			a(href="#") Contact
		li.Menu-element 
			a(href="#") About Us
section.Posters
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
		.Poster-description Un juego para iOS de naves espaciales
.blackbar