section.Posters#games
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				img(src="/images/roket-willie-icon.png", alt="")
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				img(src="/images/roket-willie-icon.png", alt="")
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				img(src="/images/roket-willie-icon.png", alt="")
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				img(src="/images/roket-willie-icon.png", alt="")
		.Poster-description Un juego para iOS de naves espaciales
	article
		.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				img(src="/images/roket-willie-icon.png", alt="")
		.Poster-description Un juego para iOS de naves espaciales
.blackbar