<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="static/css/normalize.css")
	link(rel="stylesheet", href="static/css/style.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	title Rocket Willie
body.Rocket
	include ./rocket/template.jade