.imagen
	figure
		img.logos(src="./static/images/logos.png")
include ../split/template.jade
include ../games/template.jade
include ../about/template.jade
include ../contact/template.jade
script(src="./static/js/app.js")