#games
	padding-top 2rem
.Posters
	display flex
	flex-direction row
	justify-content space-around
	flex-wrap wrap
.Poster
	width 70%
	background-color black
	border-radius 0 0 .5rem .5rem
	margin 1rem
	padding 0
	&-name
		background linear-gradient(to bottom right, rgba(255,107,0,1) 0%,rgba(255,107,0,1) 50%,rgba(255,137,51,1) 51%,rgba(255,137,51,1) 100%)
		color white 
		font-size 1.2rem
		font-weight bold
		margin 0
		padding 0
		text-align center
	&-image
		width 80%
		margin 1rem 10%
	&-gameImage
		width 100%
	&-description
		width 80%
		margin 1rem 10%
		color white
@media screen and (min-width: 768px)
	.Poster
		width 35%
		&-name
			font-size 1.5rem