section#games
	h3.Util-title GAMES
	.Posters
		article.Poster
			h3.Poster-name Rocket Willie
			.Poster-image
				a(href="/rocket-willie" target="_blank")
					img.Poster-gameImage(src="./static/images/rocket-willie-icon.png", alt="")
			.Poster-description Join Willie while he searches for his lost friends by asking all of the different and diverse planets in the galaxy!
		article.Poster
			h3.Poster-name Planet Eater
			.Poster-image
				a(href="#" target="_blank")
					img.Poster-gameImage(src="./static/images/planet-eater-icon.png", alt="")
			.Poster-description Coming Soon!!
.AC-container
	include ../about/template.jade
	include ../contact/template.jade