header.Title
figure.Logo
	img(src="/images/rocket-willie-logo.png")

	img
	img
.About
	p.About-download
	p.About-price
.Description
	img.Description-logo
	p.Description-about
	p.Description-features
.GameShots
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Story
	h2.Story-title
	p.Story-description
.Screenshots
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.ConceptArt
	img(src="", alt="")
.KeyArt
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Logos-icon
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Music
	img(src="", alt="")
.Characters
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Credits
	p.Credits-names
	img.logo
	.Social
