@font-face {
  font-family: techni;
  src: url("../fonts/AR-Techni.ttf");
}
@font-face {
  font-family: titlefont;
  src: url("../fonts/basictitlefont.ttf");
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?1qw6ay");
  src: url("../fonts/icomoon.eot?1qw6ay#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?1qw6ay") format('truetype'), url("../fonts/icomoon.woff?1qw6ay") format('woff'), url("../fonts/icomoon.svg?1qw6ay#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#about {
  padding-top: 5rem;
}
.Content-text {
  margin: 1rem;
}
.logo {
  width: 50%;
  margin: 1rem 25%;
}
.imagen {
  width: 100%;
  margin: 0;
  padding: 0;
}
figure {
  padding: 0;
  margin: 0;
}
.logos {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}
@media screen and (min-width: 600px) {
  .logos {
    width: 90%;
    margin: 0 5%;
  }
}
@media screen and (min-width: 768px) {
  .logos {
    width: 70%;
    margin: 0 15%;
  }
}
@media screen and (min-width: 1024px) {
  .logos {
    width: 60%;
    margin: 0 20%;
  }
}
.action {
  margin: 2rem 0;
}
#contact {
  padding-top: 5rem;
}
.textarea,
.text {
  border: solid 0.5rem #ff6b00;
}
@media screen and (min-width: 600px) {
  .text {
    background-color: #f2f2f2;
    width: 45%;
  }
  .submit {
    width: 10%;
  }
}
#games {
  padding-top: 5rem;
}
.Posters {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Poster {
  width: 170px;
  background-color: #000;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 1rem;
  padding: 0;
}
.Poster-name {
  background: -webkit-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -moz-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -o-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -ms-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: linear-gradient(to bottom right, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Poster-image {
  width: 100%;
}
.Poster-gameImage {
  width: 100%;
}
.Poster-description {
  width: 170px;
  margin: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .Poster-description {
    color: #fff;
  }
}
.action {
  text-align: center;
  width: 90%;
}
.text {
  background-color: #f2f2f2;
  width: 90%;
  margin: 0.5rem;
}
.textarea {
  background-color: #f2f2f2;
  width: 90%;
  height: 7rem;
  margin: 0.5rem;
}
.submit,
button {
  border-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
  background: -webkit-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -moz-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -o-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -ms-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: linear-gradient(to bottom right, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  text-align: center;
}
.formWrap {
  text-align: center;
}
input {
  background-color: #f2f2f2;
}
.button {
  border-style: none;
  color: #fff;
  margin: 0;
  padding: 5px;
  background: -webkit-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -moz-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -o-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -ms-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: linear-gradient(to bottom right, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  width: 30%;
}
.button:hover,
button:hover {
  background: -webkit-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -moz-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -o-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -ms-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: linear-gradient(to bottom right, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
}
.mc-field-group {
  display: inline-block;
  margin: 1rem;
}
.email {
  margin-left: 2.2rem;
}
.wrapper {
  margin-top: 25%;
  margin-bottom: 5%;
  padding: 0;
}
h2 {
  color: #fff;
  font-family: titlefont;
  font-size: 2.5rem;
  font-weight: lighter;
  text-align: center;
  text-shadow: rgba(0,0,0,0.3) -2px 4px 0;
  margin: 0;
  padding: 0.3rem;
}
.black {
  background-color: #000;
}
.orange {
  background-color: #ff6b00;
}
.boldTitle {
  font-family: techni;
  font-size: 2.7rem;
}
.bcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin-top: 20%;
  }
  .text {
    width: 41%;
  }
  h2 {
    font-size: 4.5rem;
  }
  .boldTitle {
    font-size: 4.7rem;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 15%;
  }
  .text {
    width: 42%;
  }
  h2 {
    font-size: 6rem;
  }
  .boldTitle {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    margin-top: 8%;
    padding: 0;
  }
  .text {
    width: 43%;
  }
  h2 {
    font-size: 7rem;
  }
  .boldTitle {
    font-size: 7.2rem;
  }
}
.Menu {
  background-color: #ff6b00;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
/*&-element:before
		content "-"
		color #BF5000
		margin-right .5rem
	&-element:after
		content "-"
		color #BF5000
		margin-left .5rem*/
}
.Menu-list {
  margin: 0;
  padding: 0;
}
.Menu-element {
  display: inline-block;
  color: #fff;
  margin: 1rem;
  padding: 0;
}
.Menu-element a {
  color: #fff;
  text-decoration: none;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.Rocket {
  background: #0f1228;
}
.Title {
  margin: 0 15%;
  margin-top: 10%;
  width: 70%;
  background-image: url("../images/stars.png");
}
.Logo-img {
  width: 100%;
}
.About {
  color: #fff;
}
.About-list {
  list-style-type: none;
  margin: 1rem;
  font-size: 1.2rem;
}
.About-downloads {
  margin: 0;
}
.About-price {
  background: #d6dc3b;
  color: #000;
  margin: 10%;
  width: 80%;
}
.About-price-title,
.About-price-description {
  margin: 1rem;
}
.GooglePlay,
.AppStore {
  width: 40%;
  margin: 5%;
}
.Description {
  background: #fff;
  width: 100%;
}
.Description-features {
  background: #d6dc3b;
  margin: 10%;
  width: 80%;
}
.Description-list {
  list-style-type: none;
  margin: 1rem;
}
.icon-facebook2:before {
  content: "\e900";
  padding-left: 0.5rem;
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-vimeo:before {
  content: "\ea9c";
}
.Content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
}
.Content-left {
  width: 100%;
}
.Content-right {
  width: 100%;
}
.frase {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin: 10%;
}
video {
  margin: 10%;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .Content-left {
    width: 45%;
  }
  .Content-right {
    width: 45%;
  }
  .frase {
    margin: 20% 0;
  }
  video {
    width: 90%;
    margin: 10% 5% 5% 5%;
  }
}
.Social {
  padding: 0;
  margin: 0 5% 0 0;
  text-align: right;
}
.Social-icons {
  background: -webkit-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -moz-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -o-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: -ms-linear-gradient(top left, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  background: linear-gradient(to bottom right, #000 0%, #000 50%, #2a2a2f 51%, #2a2a2f 100%);
  display: inline-block;
  font-family: icomoon;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: bottom;
  margin: 0 5% 10% 0;
  padding: 1rem 0rem;
}
.Social-icons a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}
.Social-icons a:hover {
  background: -webkit-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -moz-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -o-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: -ms-linear-gradient(top left, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
  background: linear-gradient(to bottom right, #ff6b00 0%, #ff6b00 50%, #ff8933 51%, #ff8933 100%);
}
@media screen and (min-width: 768px) {
  .Social {
    margin: 0;
  }
}
