.Rocket
	background #0F1228
.Title
	margin 0 15%
	margin-top 10%
	width 70%
	background-image url("../images/stars.png")
.Logo-img
	width 100%

.About
	color white
	&-list
		list-style-type none
		margin 1rem
		font-size 1.2rem
	&-downloads
		margin 0
	&-price
		background #D6DC3B
		color black
		margin 10%
		width 80%
		&-title, &-description
			margin 1rem

.GooglePlay, .AppStore
	width 40%
	margin 5%

.Description
	background white
	width 100%
	&-features
		background #D6DC3B
		margin 10%
		width 80%
	&-list
		list-style-type none
		margin 1rem
