.Rocket
	background #0F1228
	margin 0
	padding 0
.Title
	background url("../images/stars.png")
	background-size cover
	margin 0
	padding 0
.Logo
	margin 0 15%
	width 70%
.Logo-img
	margin 10% 0
	width 100%
@media screen and (min-width: 768px)
	.Logo-img
		width 70%
		margin 10% 15%
	.Title
		background-size 80% 80%
@media screen and (min-width: 1024px)
	.Title
		background-size 70% 70%
	.Logo-img
		width 60%
		margin 10% 20%

.About
	color white
	width 100%
	&-list
		list-style-type none
		margin 0
		padding 0
		font-size 1.2rem
		margin 0 10%
		width 90%
	&-download
		margin 1rem 10%
		width 80%
	&-downloads
		margin 0
		padding 0
		width 90%
		margin 0 5%
	&-price
		background #D6DC3B
		color black
		margin 10%
		width 80%
		&-title, &-description
			margin 1rem
@media screen and (min-width: 768px)
	.About
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-around
		padding 0 0 1rem 0
		margin 1rem 0
		&-download 
			width 40%
			margin 0
			padding 0
		&-downloads
			width 80%
		&-price
			width 40%
			margin 0
			padding 0

.GooglePlay, .AppStore
	width 40%
	margin 5%

.Subtitle-R1
	background #0F1228
	color white
	font-size 1.5rem
	margin 0
	width 70%
.Subtitle-R1:before
	background-image url("../images/star-title.png")
	background-repeat no-repeat
	background-size 100%
	width 100%
	padding-left 2.5rem
	margin 0 1rem
	content ""
	font-size 1.5rem
@media screen and (min-width: 768px)
	.Subtitle-R1
		width 40%
.Subtitle-R2
	background #CFD65A
	border-radius 5px 5px
	box-shadow -5px 0px black, -5px 5px black
	height 2rem
	text-align center
	padding-top .5rem
	margin 1rem 25%
	vertical-align middle
	width 50%
@media screen and (min-width: 768px)
	.Subtitle-R2
		width 20%
		margin 1rem 40%
.Description
	background white
	padding-top 1rem
	width 100%
	&-features
		background #D6DC3B
		margin 1rem
	&-list
		list-style-type none
		margin 0 10%
		padding 0
		width 80%
		font-weight bold
	&-subtitle
		padding .5rem 0
	&-about
		margin 1rem
	&-logo
		display none
	&-decorationImage
		display none
@media screen and (min-width: 768px)
	.Description-wrap
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content space-between
	.Description-subtitle
		width 40%
		margin 0
		padding 0
	.Description-subtitle .Subtitle-R1
		width 100%
	.Description-about
		width 58%
		padding 0
		margin 0
	.Description-logo
		display block
		width 80%
		margin 0 10%
	.Description-wrap2
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content space-between
	.Description-decoration
		width 40%
	.Description-decorationImage
		display block
		width 80%
		margin-left 70%
	.Description-features
		width 40%
		margin 5% 0 0 0
		padding 0
	.Description-list
		margin 1rem
		padding 0

.GameShots
	width 100%
	&-image
		width 80%
		margin .5rem 10%
	&-imageSpecial
		width 90%
		margin .5rem 5%
@media screen and (min-width: 768px)
	.GameShots-image
		width 40%
		margin 1rem 5%
	.GameShots-imageSpecial
		width 80%
		margin 1rem 10%
	.Broke-decoration
		background url("../images/star-decoration2.png")
		background-size 400px 114px
		background-repeat no-repeat
		width 50%
		height 7rem
		margin 1rem 25%
.download img
	width 16%
	margin 0 42%
@media screen and (min-width: 768px)
	.download img
		width 10%
		margin 0 0 0 85%
.Screenshots
	width 100%
	&-subtitle
		margin-bottom 2rem
	&-image
		width 80%
		margin .5rem 10%
@media screen and (min-width: 768px)
	.Screenshots-image
		width 40%
		margin 1rem 5%
.ConceptArt
	background #56BBAE
	margin 1rem 0
	&-image
		width 80%
		margin 1rem 10%
.KeyArt
	background #56BBAE
	width 100%
	margin 2rem 0
	&-subtitle
		margin-bottom 1rem
	&-image
		width 80%
		margin .5rem 10%
	&-imageSpecial
		width 90%
		margin .5rem 5%
@media screen and (min-width: 768px)
	.KeyArt-image
		width 40%
		margin 1rem 5%
	.KeyArt-imageSpecial
		width 80%
		margin 1rem 10%
.LogosIcon
	width 100%
	&-image
		width 40%
		margin .5rem 5%
@media screen and (min-width: 768px)
	.LogosIcon-image
		width 20%
		margin 1rem 2.5%
.Music
	width 100%
	margin 2rem 0
	padding-bottom 2rem
	&-image
		width 80%
		margin .5rem 10%
.Characters
	background url("../images/stars.png")
	background-size 100%
	background-repeat repeat-y
	&-image
		width 40%
		margin .5rem 5%
	&-imageSpecial
		width 40%
		margin .5rem 5%
@media screen and (min-width: 768px)
	.Characters-image
		width 25%
		margin 0 4%
	.Characters-imageSpecial
		width 25%
		margin 0 37.5%
.Credits
	background url("../images/star-dust.png")
	background-size cover
	color white
	font-size 1.5rem
	text-align center
	&-names
		list-style-type none
		margin 1rem
		padding 1rem 0
	&-jump
		margin 1rem 0 0 0
@media screen and (min-width: 768px)
	.Credits
		font-size 1.2rem
		&-especial
			width 20%
			margin 1rem 40%
	.enlinea
		display inline-block
		width 40%
		margin 1rem
.Plus
	color #B32471
	font-weight bold
.foot
	background url("../images/star-decoration.png")
	background-size 100%
	background-repeat no-repeat
	width 70%
	margin 0 15%
	height 5rem
@media screen and (min-width: 768px)
	.foot
		width 30%
		margin 0 35%
