header.Title
	figure.Logo
		img.Logo-img(src="static/images/rocket-willie-logo.png")
		img
		img
.About
	.About-download 
		ul.About-list
			li Developer: 1910Games! 
			li Release date: October 2015. 
			li Platforms: IOS/Android.
		.About-downloads
			a(href="#")
				img.GooglePlay(src="static/images/google-play.png")
			a(href="#")
				img.AppStore(src="static/images/appstore.png")
	.About-price
		h3.About-price-title Price:
		.About-price-description Free with (in-app purchases)
		h3.About-price-title Press contact:
		.About-price-description contact@1910-studios.com
.Description
	h3.Subtitle-R1 Description
	img.Description-logo
	.Description-about Rocket Willie is a video game where you take control of a little rocket boy named Willie, join Willie while he searches for his lost friends by asking all of the different and diverse planets in the galaxy,you can take control of up to 7 different rockets; each with their own unique ability. Traverse the galaxy all while dodging all types of obstacles; all of this and tons of fun to be had in Rocket Willie!
	.Description-features
		ul.Description-list
			li Features
			li Genre: Action/adventure
			li Ages: 7-16
			li Controls: Touch Screen.
.GameShots
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Screenshots
	h3.Subtitle-R2 Screenshots
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.ConceptArt
	h3.Subtitle-R1 Concept Art
	img(src="", alt="")
.KeyArt
	h3.Subtitle-R1 Key Art
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Logos-icon
	h3.Subtitle-R2 Logos Icon
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Music
	h3.Subtitle-R2 Music
	img(src="", alt="")
.Characters
	h3.Subtitle-R2 Characters
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
	img(src="", alt="")
.Credits
	p.Credits-names
		ul.names
			li Game Design: Alejandro Ley
			li Animation + Character Design: Emmanuel Gomez
			li Production + Graphic Design: Yadira Mustanen
			li Backgrounds + Concept Art: Kamus (Eduardo Arellano)
			li Programing: Miguel Polanco
			li Music + Sound Design: Soundscape Studio, Carlos Becerra + Jorge Aguirre + Oscar Rodriguez
	img.logo
	.Social
