section.Content#contact
	form.action
		input.text(type="text" placeholder="Name" required)
		input.text(type="email" placeholder="Email" required)
		textarea.textarea(placeholder="Message")
		button.submit Send