include ../menu/template.jade
//- section.Content
//- 	article.Content-left
//- 		p.frase To be alive, to walk this earth, that's thereal curse right there"
//- 	article.Content-right
//- 		video(src="#" controls)
//- 		ul.Social
//- 			li.Social-icons
//- 				a(href="#")
//- 					span.icon-vimeo
//- 			li.Social-icons
//- 				a(href="#")
//- 					span.icon-facebook2
//- 			li.Social-icons
//- 				a(href="#")
//- 					span.icon-twitter