- var rev = '<span class="boldTitle">REVOLUTION</span>';
- var sta = '<span class="boldTitle">STARTS</span>';
.wrapper
	h2.black THE!{rev}
	h2.orange !{sta}HERE
.bcontainer
	button english
	button español