section.Content#contact
	h3.Util-title CONTACTO
	form.action
		input.text(type="text" placeholder="Nombre" required)
		input.text(type="email" placeholder="Email" required)
		textarea.textarea(placeholder="Mensaje")
		button.submit Enviar